blink, .blink, #blang, .blang {
    animation: blink 250;
    animation-iteration-count: infinite;
}

@keyframes blink {
    0% {
        opacity: 0.0;
    }
    50% {
        opacity: 0.0;
    }
    50.01% {
        opacity: 1.0;
    }
    100% {
        opacity: 1.0;
    }
}